name: Metrics

on:
  schedule: [{ cron: "0 4 * * *" }]
  push: { branches: ["main"] }
  workflow_dispatch:

concurrency:
  group: metrics
  cancel-in-progress: true

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          template: classic
          base: header, activity, repositories, metadata
          config_timezone: Europe/Rome
          config_display: large

          plugin_languages: yes
          plugin_languages_ignored: html, css, markdown
          plugin_languages_details: percentage, bytes-size
          plugin_languages_limit: 8
          plugin_languages_indepth: yes
          plugin_languages_recent_load: 200
          plugin_languages_recent_days: 14

          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
